<h1>Edit Article</h1>

<div class="form">
  <%= form_for(@article) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
    <br>

    <%= f.label :content %>
    <%= f.text_field :content, class: 'form-control'%>
    <br>

    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>

<%= link_to "Back", article_path(@article) %>
